{{>layout>header}}

    <h1>주식 종목 제공 서비스</h1>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <a href="/posts/save" role="button" class="btn btn-primary">주식 종목 등록</a>
            </div>
        </div>
    </div>

{{>layout>footer}}